{% extends 'todolist/base.html' %}
{% block content %}
    {% include 'todolist/navbar.html' %}
    <header>
        <h1>{{ details.title }}</h1>
        <small style="color: #888;">Created at {{ details.created_at|date:"D d/m/Y" }} {{ details.created_at|time:"H:i A" }}</small>
        <br>
        <small style="color: #888;">by {{ details.auth }}</small>
    </header>
    <br><br>
    <div class="container">
        <p style="color: #fff">{{ details.text }}</p>
        {% if details.image %}
            <img width="100%" src="{{ details.image.url }}" alt="image not found">
            <br>
        {% endif %}
    </div>
{% endblock %}